.the12 {
  position: absolute;
  top: 0;
  left: 346px;
  font-size: var(--font-size-77xl);
  display: inline-block;
  width: 227px;
  height: 96px;
}
.the-hindu-logonew-2-icon4 {
  position: absolute;
  top: 2.1px;
  left: 573px;
  width: 308px;
  height: 110.6px;
  object-fit: cover;
}
.hindu12 {
  position: absolute;
  top: 0;
  right: 213px;
  font-size: var(--font-size-77xl);
  display: inline-block;
  width: 346px;
  height: 96px;
}
.group-child26,
.group-child27 {
  position: absolute;
  top: 137.8px;
  left: 23px;
  width: 206px;
  height: 1.1px;
  object-fit: contain;
}
.group-child27 {
  top: 137.3px;
  left: 327px;
  width: 193px;
  height: 0.5px;
}
.group-child28,
.group-child29,
.group-child30 {
  position: absolute;
  top: 137.8px;
  left: 614px;
  width: 224px;
  height: 0;
  object-fit: contain;
}
.group-child29,
.group-child30 {
  left: 920px;
  width: 217px;
}
.group-child30 {
  left: 1219px;
  width: 130px;
  height: 1.2px;
}
.budget-20244,
.e-paper4,
.india12,
.movies10,
.world29 {
  position: absolute;
  top: 156.6px;
  left: 23px;
  display: inline-block;
  width: 214px;
  height: 30.3px;
}
.budget-20244,
.e-paper4,
.movies10,
.world29 {
  top: 152.4px;
  left: 324px;
}
.budget-20244,
.e-paper4,
.movies10 {
  left: 620px;
}
.budget-20244,
.e-paper4 {
  left: 920px;
}
.e-paper4 {
  top: 156.6px;
  left: 1219px;
  width: 140px;
}
.olympics4 {
  white-space: pre-wrap;
}
.search8 {
  color: var(--color-darkgray-100);
}
.olympics-data-container4 {
  position: absolute;
  top: 243.2px;
  left: 8px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
  display: inline-block;
  width: 838px;
  height: 48px;
  color: var(--color-firebrick-100);
}
.search-icon4 {
  position: absolute;
  top: 243.2px;
  left: 614px;
  width: 42px;
  height: 34.4px;
  object-fit: contain;
}
.free-trial5 {
  position: absolute;
  top: 235.9px;
  left: 855.1px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: var(--font-inter);
  width: 164px;
  height: 24px;
  transform: rotate(0.1deg);
  transform-origin: 0 0;
}
.group-child31 {
  position: absolute;
  top: 225.4px;
  left: 1019px;
  border-radius: var(--br-8xs);
  background-color: var(--color-firebrick-100);
  width: 208px;
  height: 52.2px;
}
.group-child32 {
  position: absolute;
  top: 307.4px;
  left: 0;
  width: 1440px;
  height: 3.1px;
  object-fit: contain;
}
.subscribe6 {
  position: absolute;
  top: 235.9px;
  left: 1054px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-white);
  width: 145px;
  height: 26.1px;
}
.group-child33 {
  position: absolute;
  top: 225.4px;
  left: 1255px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-firebrick-100);
  box-sizing: border-box;
  width: 165px;
  height: 52.2px;
}
.login7 {
  position: absolute;
  top: 235.9px;
  left: 1293px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
  color: var(--color-firebrick-100);
  display: inline-block;
  width: 112px;
  height: 27.1px;
}
.group-child34 {
  position: absolute;
  top: 225.4px;
  left: 798px;
  border-radius: 50%;
  background-color: var(--color-goldenrod);
  width: 48px;
  height: 52.2px;
}
.th8 {
  position: absolute;
  top: 236.9px;
  left: 803px;
  font-size: var(--font-size-5xl);
  font-weight: 800;
  font-family: var(--font-inter);
  display: inline-block;
  width: 38px;
  height: 31.3px;
}
.group-child35 {
  position: absolute;
  top: 128px;
  left: 1369px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 45px;
  height: 40px;
}
.menu-icon6 {
  position: absolute;
  top: 132px;
  left: 1376px;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.desktop-6-main-page3,
.group-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 310.5px;
}
.desktop-6-main-page3 {
  background-color: var(--color-white);
  height: 310px;
  overflow: hidden;
  font-size: var(--font-size-9xl);
}
.desktop-5-login-page-dhruv-child {
  position: absolute;
  height: 44.14%;
  top: 28.5%;
  bottom: 27.36%;
  left: 253px;
  max-height: 100%;
  width: 935px;
}
.if-you-have {
  margin: 0;
}
.if-you-have-container {
  position: absolute;
  top: 1663px;
  left: 438px;
}
.desktop-5-login-page-dhruv-item {
  position: absolute;
  top: 1338px;
  left: 777px;
  background-color: var(--color-silver-300);
  width: 362px;
  height: 3px;
}
.or {
  position: absolute;
  top: 1327px;
  left: 692px;
}
.desktop-5-login-page-dhruv-inner {
  position: absolute;
  top: 1193px;
  left: 863px;
  border-radius: var(--br-8xs);
  width: 105px;
  height: 72px;
}
.continue-with {
  position: absolute;
  top: 1207px;
  left: 430px;
  font-size: var(--font-size-17xl);
  color: #696464;
}
.login-to-your {
  position: absolute;
  top: 969px;
  left: 455px;
  font-size: 50px;
}
.dont-have-an-container {
  position: absolute;
  top: 1086px;
  left: 397px;
  font-size: var(--font-size-21xl);
}
.sign-up,
.the13 {
  position: absolute;
}
.sign-up {
  top: 1086px;
  left: 893px;
  font-size: var(--font-size-21xl);
  cursor: pointer;
}
.the13 {
  top: 778px;
  left: 280px;
  font-size: var(--font-size-77xl);
  display: inline-block;
  width: 225.2px;
  height: 96px;
}
.the-hindu-logonew-2-icon5 {
  position: absolute;
  top: 780.1px;
  left: 505.2px;
  width: 305.6px;
  height: 110.6px;
  object-fit: cover;
}
.hindu13 {
  position: absolute;
  top: 778px;
  right: 286px;
  font-size: var(--font-size-77xl);
  display: inline-block;
  width: 343.3px;
  height: 96px;
}
.desktop-5-login-page-dhruv-child1 {
  position: absolute;
  top: 1149.5px;
  left: 892.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 149px;
  height: 1px;
}
.desktop-5-login-page-dhruv-child2 {
  position: absolute;
  top: 1193px;
  left: 720px;
  border-radius: var(--br-8xs);
  width: 105px;
  height: 72px;
}
.desktop-5-login-page-dhruv-child3 {
  position: absolute;
  top: 1338px;
  left: 274px;
  background-color: var(--color-silver-300);
  width: 362px;
  height: 3px;
}
.enter-your-email {
  position: absolute;
  top: 1414px;
  left: 387px;
  font-size: var(--font-size-11xl);
  color: #8e8383;
  display: inline-block;
  width: 566px;
  height: 56px;
}
.desktop-5-login-page-dhruv-child4 {
  position: absolute;
  top: 1390px;
  left: 369px;
  border-radius: var(--br-8xs);
  background-color: transparent;
  border: 1px solid #645e5e;
  box-sizing: border-box;
  width: 712px;
  height: 81px;
}
.desktop-5-login-page-dhruv-child5 {
  position: absolute;
  top: 1540px;
  left: 376px;
  border-radius: var(--br-8xs);
  background: linear-gradient(rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.14)), #000;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 704px;
  height: 90px;
}
.next {
  position: absolute;
  top: 1566px;
  left: 682px;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
}
.image-5-icon,
.image-6-icon {
  position: absolute;
  top: 1193px;
  left: 739px;
  width: 67px;
  height: 72px;
  object-fit: cover;
}
.image-6-icon {
  left: 872px;
  width: 85.2px;
}
.close-icon {
  position: absolute;
  top: 665px;
  left: 1203px;
  width: 24px;
  height: 24px;
}
.desktop-5-login-page-dhruv-child6 {
  position: absolute;
  top: 651px;
  left: 1188px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.12);
  width: 57px;
  height: 52px;
}
.desktop-5-login-page-dhruv {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2467px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-merriweather);
}
