.the18 {
  position: absolute;
  top: 0;
  left: 346px;
  font-size: var(--font-size-77xl);
  display: inline-block;
  width: 227px;
  height: 96px;
}
.the-hindu-logonew-2-icon9 {
  position: absolute;
  top: 2.1px;
  left: 573px;
  width: 308px;
  height: 110.6px;
  object-fit: cover;
}
.hindu18 {
  position: absolute;
  top: 0;
  right: 213px;
  font-size: var(--font-size-77xl);
  display: inline-block;
  width: 346px;
  height: 96px;
}
.group-child46,
.group-child47 {
  position: absolute;
  top: 137.8px;
  left: 23px;
  width: 206px;
  height: 1.1px;
  object-fit: contain;
}
.group-child47 {
  top: 137.3px;
  left: 327px;
  width: 193px;
  height: 0.5px;
}
.group-child48,
.group-child49,
.group-child50 {
  position: absolute;
  top: 137.8px;
  left: 614px;
  width: 224px;
  height: 0;
  object-fit: contain;
}
.group-child49,
.group-child50 {
  left: 920px;
  width: 217px;
}
.group-child50 {
  left: 1219px;
  width: 130px;
  height: 1.2px;
}
.budget-20248,
.e-paper8,
.india21,
.movies14,
.world34 {
  position: absolute;
  top: 156.6px;
  left: 23px;
  display: inline-block;
  width: 214px;
  height: 30.3px;
}
.budget-20248,
.e-paper8,
.movies14,
.world34 {
  top: 152.4px;
  left: 324px;
}
.budget-20248,
.e-paper8,
.movies14 {
  left: 620px;
}
.budget-20248,
.e-paper8 {
  left: 920px;
}
.e-paper8 {
  top: 156.6px;
  left: 1219px;
  width: 140px;
}
.olympics7 {
  white-space: pre-wrap;
}
.search13 {
  color: var(--color-darkgray-100);
}
.olympics-data-container7 {
  position: absolute;
  top: 243.2px;
  left: 8px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
  display: inline-block;
  width: 838px;
  height: 48px;
  color: var(--color-firebrick-100);
}
.search-icon7 {
  position: absolute;
  top: 243.2px;
  left: 614px;
  width: 42px;
  height: 34.4px;
  object-fit: contain;
}
.free-trial10 {
  position: absolute;
  top: 235.9px;
  left: 855.1px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: var(--font-inter);
  width: 164px;
  height: 24px;
  transform: rotate(0.1deg);
  transform-origin: 0 0;
}
.group-child51 {
  position: absolute;
  top: 225.4px;
  left: 1019px;
  border-radius: var(--br-8xs);
  background-color: var(--color-firebrick-100);
  width: 208px;
  height: 52.2px;
}
.group-child52 {
  position: absolute;
  top: 307.4px;
  left: 0;
  width: 1440px;
  height: 3.1px;
  object-fit: contain;
}
.subscribe10 {
  position: absolute;
  top: 235.9px;
  left: 1054px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-white);
  width: 145px;
  height: 26.1px;
}
.group-child53 {
  position: absolute;
  top: 225.4px;
  left: 1255px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-firebrick-100);
  box-sizing: border-box;
  width: 165px;
  height: 52.2px;
}
.login12 {
  position: absolute;
  top: 235.9px;
  left: 1293px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
  color: var(--color-firebrick-100);
  display: inline-block;
  width: 112px;
  height: 27.1px;
}
.group-child54 {
  position: absolute;
  top: 225.4px;
  left: 798px;
  border-radius: 50%;
  background-color: var(--color-goldenrod);
  width: 48px;
  height: 52.2px;
}
.th16 {
  position: absolute;
  top: 236.9px;
  left: 803px;
  font-size: var(--font-size-5xl);
  font-weight: 800;
  font-family: var(--font-inter);
  display: inline-block;
  width: 38px;
  height: 31.3px;
}
.group-child55 {
  position: absolute;
  top: 128px;
  left: 1369px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 45px;
  height: 40px;
}
.menu-icon10 {
  position: absolute;
  top: 132px;
  left: 1376px;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.desktop-6-main-page4,
.group-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 310.5px;
}
.desktop-6-main-page4 {
  background-color: var(--color-white);
  height: 310px;
  overflow: hidden;
}
.sign-up-for {
  position: absolute;
  top: 47px;
  left: 33px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 474px;
  height: 49px;
}
.already-have-an,
.continue-with1 {
  position: absolute;
  top: 152px;
  left: 51px;
}
.continue-with1 {
  top: 187px;
  left: 119px;
  color: #b9afaf;
  display: inline-block;
  width: 119px;
  height: 19px;
}
.android-large-2-child,
.android-large-2-item {
  position: absolute;
  top: 220px;
  left: 109px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid #cbc5c5;
  box-sizing: border-box;
  width: 60px;
  height: 45px;
}
.android-large-2-item {
  left: 208px;
  border: 1px solid #c6bfbf;
}
.image-10-icon,
.image-11-icon {
  position: absolute;
  top: 229px;
  left: 225px;
  width: 27px;
  height: 26px;
  object-fit: cover;
}
.image-11-icon {
  top: 227px;
  left: 125px;
  width: 28px;
  height: 28px;
}
.android-large-2-inner {
  position: absolute;
  top: 324px;
  left: 19px;
  width: 120px;
  height: 1px;
  object-fit: contain;
}
.android-large-2-child1 {
  position: absolute;
  top: 323.5px;
  left: 207.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 140px;
  height: 1px;
}
.or1 {
  position: absolute;
  top: 311px;
  left: 163px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 38px;
  height: 27px;
}
.android-large-2-child2 {
  position: absolute;
  top: 385px;
  left: 23px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 304px;
  height: 52px;
}
.enter-your-email1 {
  position: absolute;
  top: 400px;
  left: 33px;
  color: var(--color-silver-400);
  display: inline-block;
  width: 257px;
  height: 25px;
}
.android-large-2-child3 {
  position: absolute;
  top: 470px;
  left: 28px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 304px;
  height: 52px;
}
.password {
  position: absolute;
  top: 484px;
  left: 41px;
  color: var(--color-silver-400);
  display: inline-block;
  width: 257px;
  height: 25px;
}
.android-large-2-child4 {
  position: absolute;
  top: 555px;
  left: 26px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 304px;
  height: 52px;
}
.enter-your-10 {
  position: absolute;
  top: 568px;
  left: 47px;
  color: var(--color-silver-400);
  display: inline-block;
  width: 257px;
  height: 25px;
}
.id-like-to {
  font-weight: 300;
}
.contact-me-via,
.id-like-to-container {
  position: absolute;
  top: 623px;
  left: 41px;
  font-size: var(--font-size-sm);
  display: inline-block;
  width: 289px;
  height: 44px;
}
.contact-me-via {
  top: 679px;
  font-weight: 300;
  width: 179px;
  height: 20px;
}
.checked-checkbox-icon {
  position: absolute;
  top: 623px;
  left: 0;
  width: 46px;
  height: 19px;
  object-fit: cover;
}
.checked-checkbox-icon1 {
  position: absolute;
  top: 679px;
  left: 2px;
  width: 42.1px;
  height: 19.1px;
  object-fit: contain;
}
.android-large-2-child5 {
  position: absolute;
  top: 726px;
  left: 85px;
  border-radius: var(--br-11xs);
  background-color: var(--color-black);
  width: 178px;
  height: 29px;
}
.by-signing-up,
.sign-up1 {
  position: absolute;
  font-size: var(--font-size-sm);
  display: inline-block;
}
.sign-up1 {
  top: 733px;
  left: 144px;
  color: var(--color-white);
  width: 60px;
  height: 15px;
}
.by-signing-up {
  top: 774px;
  left: 43px;
  font-weight: 300;
  width: 291px;
  height: 38px;
}
.android-large-2-child6,
.android-large-2-child7 {
  position: absolute;
  top: 808.5px;
  left: 44.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 86px;
  height: 1px;
}
.android-large-2-child7 {
  left: 166.5px;
  width: 92px;
}
.android-large-2,
.desktop-8sign-up {
  background-color: var(--color-white);
  overflow: hidden;
}
.android-large-2 {
  position: absolute;
  top: 333px;
  left: 635px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 360px;
  height: 829px;
  font-size: var(--font-size-base);
}
.desktop-8sign-up {
  width: 100%;
  position: relative;
  height: 1205px;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-merriweather);
}
