.the10 {
  position: absolute;
  top: 0;
  left: 293px;
  font-size: var(--font-size-77xl);
  display: inline-block;
  width: 227px;
  height: 96px;
}
.the-hindu-logonew-2-icon3 {
  position: absolute;
  top: 1px;
  left: 538px;
  width: 308px;
  height: 110.6px;
  object-fit: cover;
}
.hindu10 {
  position: absolute;
  top: 1px;
  right: 213px;
  font-size: var(--font-size-77xl);
  display: inline-block;
  width: 346px;
  height: 96px;
}
.group-child7,
.group-child8 {
  position: absolute;
  top: 138.8px;
  left: 23px;
  width: 206px;
  height: 1.1px;
  object-fit: contain;
}
.group-child8 {
  top: 138.3px;
  left: 327px;
  width: 193px;
  height: 0.5px;
}
.group-child10,
.group-child11,
.group-child9 {
  position: absolute;
  top: 138.8px;
  left: 614px;
  width: 224px;
  height: 0;
  object-fit: contain;
}
.group-child10,
.group-child11 {
  left: 920px;
  width: 217px;
}
.group-child11 {
  left: 1219px;
  width: 130px;
  height: 1.2px;
}
.budget-20243,
.e-paper3,
.india9,
.movies9,
.world28 {
  position: absolute;
  top: 157.6px;
  left: 23px;
  display: inline-block;
  width: 214px;
  height: 30.3px;
}
.budget-20243,
.e-paper3,
.movies9,
.world28 {
  top: 153.4px;
  left: 324px;
}
.budget-20243,
.e-paper3,
.movies9 {
  left: 620px;
}
.budget-20243,
.e-paper3 {
  left: 920px;
}
.e-paper3 {
  top: 157.6px;
  left: 1219px;
  width: 140px;
}
.olympics3 {
  white-space: pre-wrap;
}
.search7 {
  color: var(--color-darkgray-100);
}
.olympics-data-container3 {
  position: absolute;
  top: 244.2px;
  left: 8px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
  display: inline-block;
  width: 838px;
  height: 48px;
  color: var(--color-firebrick-100);
}
.search-icon3 {
  position: absolute;
  top: 244.2px;
  left: 614px;
  width: 42px;
  height: 34.4px;
  object-fit: contain;
}
.free-trial4 {
  position: absolute;
  top: 236.9px;
  left: 855.1px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: var(--font-inter);
  width: 164px;
  height: 24px;
  transform: rotate(0.1deg);
  transform-origin: 0 0;
}
.group-child12 {
  position: absolute;
  top: 226.4px;
  left: 1019px;
  border-radius: var(--br-8xs);
  background-color: var(--color-firebrick-100);
  width: 208px;
  height: 52.2px;
}
.group-child13 {
  position: absolute;
  top: 308.4px;
  left: 0;
  width: 1440px;
  height: 3.1px;
  object-fit: contain;
}
.subscribe5 {
  position: absolute;
  top: 236.9px;
  left: 1054px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-white);
  width: 145px;
  height: 26.1px;
}
.group-child14 {
  position: absolute;
  top: 226.4px;
  left: 1255px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-firebrick-100);
  box-sizing: border-box;
  width: 165px;
  height: 52.2px;
}
.login6 {
  position: absolute;
  top: 236.9px;
  left: 1293px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
  color: var(--color-firebrick-100);
  display: inline-block;
  width: 112px;
  height: 27.1px;
}
.group-child15 {
  position: absolute;
  top: 226.4px;
  left: 798px;
  border-radius: 50%;
  background-color: var(--color-goldenrod);
  width: 48px;
  height: 52.2px;
}
.th5 {
  position: absolute;
  top: 237.9px;
  left: 803px;
  font-size: var(--font-size-5xl);
  font-weight: 800;
  font-family: var(--font-inter);
  display: inline-block;
  width: 38px;
  height: 31.3px;
}
.group-child16,
.the-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 311.5px;
}
.group-child16 {
  top: 129px;
  left: 1369px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 45px;
  height: 40px;
}
.menu-icon5 {
  position: absolute;
  top: 133px;
  left: 1376px;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.desktop-6-main-page2,
.group-container {
  position: absolute;
  top: -1px;
  left: 0;
  width: 1440px;
  height: 311.5px;
}
.desktop-6-main-page2 {
  top: -10px;
  background-color: var(--color-white);
  height: 310px;
  overflow: hidden;
}
.business-agri-business {
  display: inline-block;
  white-space: pre-wrap;
}
.budget,
.business-agri-business,
.business-agri-business-eco-wrapper,
.headline {
  position: absolute;
  top: 0;
  left: 0;
  width: 1165px;
  height: 30px;
}
.budget,
.headline {
  top: 502px;
  left: 19px;
}
.budget {
  top: 159px;
  left: 961px;
  display: inline-block;
  width: 204px;
  height: 33px;
}
.budget-child {
  position: absolute;
  top: 24.7px;
  left: 840.7px;
  width: 533.3px;
  height: 0.3px;
  object-fit: contain;
}
.budget2 {
  position: absolute;
  top: 0;
  left: 605.9px;
  display: inline-block;
  width: 234.3px;
  height: 35.3px;
  mix-blend-mode: linear-burn;
}
.budget-inner,
.budget-item {
  position: absolute;
  top: 7.8px;
  left: 840.2px;
  border-top: 1px solid var(--color-darkgray-400);
  box-sizing: border-box;
  width: 534.8px;
  height: 1px;
}
.budget-inner {
  top: 17.6px;
}
.budget-child1 {
  position: absolute;
  top: 34.7px;
  left: 0;
  max-height: 100%;
  width: 541.7px;
}
.budget-child2 {
  position: absolute;
  top: 34.7px;
  left: 841.2px;
  border-top: 1px solid var(--color-darkgray-400);
  box-sizing: border-box;
  width: 534.8px;
  height: 1px;
}
.budget-child3 {
  position: absolute;
  top: 25.2px;
  left: 0;
  width: 541.3px;
  height: 1px;
  object-fit: contain;
}
.budget-child4,
.budget-child5 {
  position: absolute;
  left: 0;
  box-sizing: border-box;
  width: 542.7px;
  height: 1px;
}
.budget-child4 {
  top: 8.8px;
  border-top: 1px solid #979494;
}
.budget-child5 {
  top: 17.6px;
  border-top: 1px solid var(--color-darkgray-400);
}
.budget1,
.outline {
  position: absolute;
  width: 1375px;
}
.budget1 {
  top: 0;
  left: 0;
  height: 35.3px;
  font-size: 48px;
  color: var(--color-firebrick-100);
}
.outline {
  top: 343px;
  left: 19px;
  height: 192px;
  color: rgba(150, 14, 14, 0.87);
}
.economy3,
.india10 {
  font-size: var(--font-size-5xl);
  font-weight: 900;
  color: var(--color-firebrick-100);
  display: inline-block;
}
.india10 {
  position: absolute;
  top: 7px;
  left: 0;
  font-family: var(--font-merriweather);
  width: 107px;
  height: 27px;
  mix-blend-mode: darken;
}
.economy3 {
  top: 260.4px;
  left: 7.1px;
  width: 162.1px;
  height: 27.1px;
}
.economy3,
.finance-ministry-eases,
.trending7 {
  position: absolute;
  mix-blend-mode: darken;
}
.trending7 {
  top: 0;
  left: 1074px;
  font-size: var(--font-size-17xl);
  letter-spacing: 0.02em;
  font-weight: 700;
  color: rgba(166, 17, 17, 0.94);
  backdrop-filter: blur(4px);
}
.finance-ministry-eases {
  top: 323.5px;
  left: 4.4px;
  display: inline-block;
  width: 237.3px;
  height: 117.2px;
}
.the-hindu-bureau-container {
  top: 189px;
  left: 2px;
  width: 197.5px;
  height: 27.1px;
  mix-blend-mode: normal;
}
.india-locked-into,
.jacob-koshy,
.the-hindu-bureau-container {
  position: absolute;
  display: inline-block;
}
.jacob-koshy {
  top: 440.8px;
  left: 7.1px;
  font-size: var(--font-size-5xl);
  width: 197.5px;
  height: 27.1px;
  mix-blend-mode: normal;
}
.india-locked-into {
  top: 41px;
  left: 0;
  width: 259.5px;
  height: 98.2px;
  backdrop-filter: blur(4px);
  mix-blend-mode: darken;
}
.left-child {
  position: absolute;
  top: 216px;
  left: 2px;
  width: 187px;
  height: 1.5px;
  object-fit: contain;
}
.left-child1,
.left-inner,
.left-item {
  position: absolute;
  top: 722px;
  left: 287px;
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 345px;
  height: 1px;
}
.left-child1,
.left-inner {
  top: 699px;
  width: 173px;
}
.left-child1 {
  top: 472.1px;
  left: 7px;
  width: 144px;
}
.left-child2,
.left-child3 {
  position: absolute;
  top: 236px;
  left: 2px;
  width: 247.1px;
  height: 1px;
  object-fit: contain;
}
.left-child3 {
  top: 502.9px;
  left: 7.1px;
}
.govt-should-rationalise {
  position: absolute;
  top: 526.9px;
  left: 7.1px;
  display: inline-block;
  width: 261.2px;
  height: 108.2px;
}
.news-pge-1 {
  position: absolute;
  top: 672px;
  left: 2px;
  width: 256px;
  height: 303px;
  object-fit: cover;
}
.left {
  position: absolute;
  top: 6px;
  left: 0;
  width: 1269px;
  height: 975px;
  font-family: var(--font-merriweather);
}
.nirmala-sitharaman-participate,
.the-hindu-bureau-container1 {
  position: absolute;
  font-family: var(--font-merriweather);
  display: inline-block;
}
.nirmala-sitharaman-participate {
  top: 803px;
  left: 287px;
  font-size: var(--font-size-5xl);
  color: rgba(0, 0, 0, 0.76);
  width: 339px;
  height: 159px;
  mix-blend-mode: normal;
}
.the-hindu-bureau-container1 {
  top: 678px;
  left: 284px;
  width: 197.5px;
  height: 27.1px;
  mix-blend-mode: hard-light;
}
.group-child17 {
  position: absolute;
  top: 113px;
  left: 0;
  width: 483.8px;
  height: 325px;
  object-fit: cover;
}
.logistics-industrys-budget {
  margin: 0;
}
.logistics-industrys-budget-container {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.1em;
  line-height: 30px;
  display: inline-block;
  width: 782px;
}
.india11 {
  top: 495px;
  left: 4.5px;
  color: var(--color-firebrick-200);
  width: 105.8px;
  mix-blend-mode: darken;
}
.budget3,
.from-adopting-digital-container,
.india11 {
  position: absolute;
  letter-spacing: 0.1em;
  line-height: 30px;
  display: inline-block;
}
.budget3 {
  top: 754px;
  left: 5px;
  color: var(--color-firebrick-200);
  width: 132px;
  mix-blend-mode: linear-burn;
}
.from-adopting-digital-container {
  top: 108px;
  left: 504.1px;
  font-size: var(--font-size-xl);
  width: 239.7px;
  height: 308px;
}
.group-child18 {
  position: absolute;
  top: 462px;
  left: 0;
  width: 704.4px;
  height: 3px;
  object-fit: contain;
}
.group-child19,
.group-child20,
.group-child21,
.group-child22,
.group-child23 {
  position: absolute;
  top: 177px;
  left: 856px;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 266px;
  height: 1px;
}
.group-child20,
.group-child21,
.group-child22,
.group-child23 {
  top: 327px;
  width: 271px;
}
.group-child21,
.group-child22,
.group-child23 {
  top: 480px;
}
.group-child22,
.group-child23 {
  top: 620px;
  left: 858px;
}
.group-child23 {
  top: 767px;
  left: 855px;
}
.congress-raises-demand {
  margin-block-start: 0;
  margin-block-end: 15px;
}
.congress-raises-demand-container,
.tax-administration-must {
  position: absolute;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  line-height: 40px;
  display: inline-block;
}
.congress-raises-demand-container {
  top: 536px;
  left: 4.5px;
  width: 344.3px;
  height: 120px;
  mix-blend-mode: hard-light;
}
.tax-administration-must {
  top: 537px;
  left: 375px;
  width: 369px;
  height: 99px;
}
.rectangle-group {
  position: absolute;
  top: 9px;
  left: 279px;
  width: 1128px;
  height: 784px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-merriweather);
}
.group-child24 {
  position: absolute;
  top: 509px;
  left: 642.5px;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  width: 1px;
  height: 473px;
}
.news-5-icon {
  top: 678px;
  left: 654px;
  width: 369px;
  height: 303px;
  object-fit: cover;
}
.news-5-icon,
.th-inner,
.th7 {
  position: absolute;
}
.th-inner {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gold);
  width: 26px;
  height: 26.1px;
}
.th7 {
  top: 6.5px;
  left: 4.3px;
  display: inline-block;
  width: 36.3px;
  height: 9.3px;
}
.premium2,
.th6 {
  width: 40.7px;
  position: relative;
  height: 26.1px;
}
.premium2 {
  width: 161.8px;
  display: inline-block;
  height: 23.3px;
  flex-shrink: 0;
  margin-left: -5px;
}
.group-child25,
.se23 {
  position: absolute;
  box-sizing: border-box;
}
.se23 {
  top: 510px;
  left: 654px;
  width: 322px;
  height: 105px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 2px;
  font-size: var(--font-size-base);
  font-family: var(--font-play);
}
.group-child25 {
  top: 0;
  left: 1041px;
  border-right: 1px solid rgba(0, 0, 0, 0.42);
  width: 1px;
  height: 979px;
}
.the-hindu-morning-container,
.upsc-chairperson-manoj-container {
  position: absolute;
  top: 235px;
  left: 1137px;
  font-weight: 600;
  display: inline-block;
  width: 268px;
}
.upsc-chairperson-manoj-container {
  top: 83px;
  width: 244px;
  mix-blend-mode: normal;
}
.elon-musk-congratulates-container {
  position: absolute;
  top: 358px;
  left: 1137px;
  font-weight: 600;
  display: inline-block;
  width: 245px;
  height: 95px;
}
.div10,
.div11,
.div9 {
  position: absolute;
  top: 360px;
  left: 1060px;
  font-size: var(--font-size-17xl);
  font-weight: 600;
}
.div10,
.div11 {
  top: 233px;
  left: 1058px;
}
.div11 {
  top: 87px;
  left: 1061px;
}
.div12,
.the-steam-engine-container {
  position: absolute;
  top: 509px;
  font-weight: 600;
  display: inline-block;
}
.the-steam-engine-container {
  left: 1135px;
  width: 269px;
  height: 95px;
}
.div12 {
  left: 1057px;
  font-size: var(--font-size-17xl);
  width: 21px;
}
.div13,
.epfos-it-systems-container {
  position: absolute;
  top: 656px;
  left: 1137px;
  font-weight: 600;
}
.div13 {
  top: 648px;
  left: 1061px;
  font-size: var(--font-size-17xl);
}
.india-parent {
  top: 0;
  left: 0;
  width: 1407px;
  height: 981px;
}
.india-parent,
.info,
.the11 {
  position: absolute;
}
.info {
  top: 593px;
  left: 19px;
  width: 1407px;
  height: 981px;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
}
.the11 {
  top: 1px;
  left: 8.2px;
  font-size: var(--font-size-61xl);
  display: inline-block;
  width: 195.2px;
  height: 98.8px;
}
.the-hindu-logonew-1-icon6 {
  position: absolute;
  top: 6.2px;
  left: 231.5px;
  width: 237.5px;
  height: 88.2px;
  object-fit: cover;
}
.hindu11,
.the-hindu8 {
  position: absolute;
  top: 183.7px;
  left: 12.3px;
  display: inline-block;
  width: 125.8px;
  height: 39.5px;
}
.hindu11 {
  top: 0;
  left: 523.6px;
  font-size: var(--font-size-61xl);
  width: 340.6px;
  height: 98.8px;
}
.footer-child39 {
  position: absolute;
  top: 6.2px;
  left: 1180.6px;
  border-radius: var(--br-8xs);
  width: 236.5px;
  height: 88.2px;
}
.app-store5 {
  position: absolute;
  top: 63.1px;
  left: 1291.4px;
  display: inline-block;
  color: var(--color-white);
  width: 114.9px;
  height: 28.2px;
}
.apple-logo-icon5 {
  position: absolute;
  top: 13.3px;
  left: 1187.7px;
  width: 55px;
  height: 61.8px;
  object-fit: cover;
}
.download-on-the5 {
  position: absolute;
  top: 13.3px;
  left: 1270.5px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  display: inline-block;
  width: 107.1px;
  height: 19.5px;
}
.footer-child40 {
  position: absolute;
  top: 10.3px;
  left: 873.3px;
  border-radius: var(--br-8xs);
  background-color: var(--color-black);
  width: 274.9px;
  height: 84.1px;
}
.google-playstore-icon5 {
  position: absolute;
  top: 19.5px;
  left: 924.8px;
  width: 61.5px;
  height: 82.4px;
  object-fit: cover;
}
.get-it-on4 {
  position: absolute;
  top: 31.3px;
  left: 1023.6px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  display: inline-block;
  width: 82.3px;
  height: 35.3px;
}
.footer-child41,
.footer-child42,
.footer-child43 {
  position: absolute;
  top: 169.5px;
  left: 12.3px;
  width: 205px;
  height: 0.1px;
  object-fit: contain;
}
.footer-child42,
.footer-child43 {
  top: 169px;
  left: 328.8px;
}
.footer-child43 {
  top: 167.2px;
  left: 1193.3px;
}
.google-play5 {
  position: absolute;
  top: 67.8px;
  left: 1002px;
  display: inline-block;
  color: var(--color-white);
  width: 125.2px;
  height: 27.1px;
}
.footer-child44,
.footer-child45 {
  position: absolute;
  top: 167.2px;
  left: 928.5px;
  width: 205px;
  height: 0.1px;
  object-fit: contain;
}
.footer-child45 {
  left: 632.2px;
}
.other-products4 {
  position: absolute;
  top: 182.6px;
  left: 328.8px;
  display: inline-block;
  width: 157.3px;
  height: 23.1px;
}
.about-us5,
.business3,
.sitemap5,
.states5 {
  position: absolute;
  top: 181.5px;
  left: 637.3px;
  display: inline-block;
  width: 97.4px;
  height: 24.2px;
}
.about-us5,
.sitemap5,
.states5 {
  top: 185.9px;
  left: 928.5px;
  width: 112.6px;
  height: 39.5px;
}
.about-us5,
.sitemap5 {
  top: 237.5px;
  left: 12.3px;
  width: 100.4px;
  height: 29.6px;
}
.sitemap5 {
  top: 439.5px;
  left: 14.3px;
}
.code-of-editorial5,
.images5,
.news-archive5,
.trending-on-the3 {
  position: absolute;
  top: 373.6px;
  left: 14.3px;
  display: inline-block;
  width: 141px;
  height: 26.4px;
}
.code-of-editorial5,
.images5,
.trending-on-the3 {
  top: 306.6px;
  left: 12.3px;
  width: 243.5px;
}
.images5,
.trending-on-the3 {
  top: 186.8px;
  left: 1188.7px;
  width: 237.4px;
}
.images5 {
  top: 357.2px;
  left: 333.9px;
  width: 100.4px;
  height: 29.6px;
}
.agri-business3,
.classifield-print3,
.roofandfloor5,
.step5 {
  position: absolute;
  top: 294.6px;
  left: 330.9px;
  display: inline-block;
  width: 64px;
  height: 24.2px;
}
.agri-business3,
.classifield-print3,
.roofandfloor5 {
  top: 229.8px;
  width: 138px;
  height: 22px;
}
.agri-business3,
.classifield-print3 {
  top: 432.9px;
  left: 334px;
  width: 176.6px;
  height: 28.5px;
}
.agri-business3 {
  top: 226.5px;
  left: 632.2px;
  width: 144.1px;
  height: 25.3px;
}
.andhra-pradesh3,
.economy4,
.industry3,
.karnataka3,
.kerala3,
.market3 {
  position: absolute;
  top: 283.6px;
  left: 634.2px;
  display: inline-block;
  width: 100.4px;
  height: 29.6px;
}
.andhra-pradesh3,
.economy4,
.karnataka3,
.kerala3,
.market3 {
  top: 356.1px;
  left: 636.3px;
}
.andhra-pradesh3,
.karnataka3,
.kerala3,
.market3 {
  top: 428.5px;
  left: 637.3px;
}
.andhra-pradesh3,
.karnataka3,
.kerala3 {
  top: 226.5px;
  left: 924.9px;
  width: 171.5px;
}
.karnataka3,
.kerala3 {
  top: 297.9px;
  left: 928px;
  width: 105.5px;
  height: 26.4px;
}
.kerala3 {
  top: 356.1px;
  left: 932.1px;
  width: 82.2px;
  height: 29.6px;
}
.india-news3,
.live-news-from3,
.news6,
.tamil-nadu3 {
  position: absolute;
  top: 411px;
  left: 931.1px;
  display: inline-block;
  width: 130.2px;
  height: 27.4px;
}
.india-news3,
.live-news-from3,
.news6 {
  top: 232px;
  left: 1193px;
  width: 160.3px;
  height: 25.3px;
}
.india-news3,
.live-news-from3 {
  top: 354px;
  left: 1190px;
  width: 251px;
  height: 49.4px;
}
.india-news3 {
  top: 295px;
  left: 1194px;
  width: 160.3px;
  height: 25.3px;
}
.elections4,
.israeli-palestinian-conflict-2-container3 {
  position: absolute;
  top: 563.6px;
  left: 321.7px;
  display: inline-block;
  width: 102.3px;
  height: 26.4px;
}
.israeli-palestinian-conflict-2-container3 {
  top: 611.9px;
  width: 277.9px;
  height: 47.2px;
}
.latest-news5,
.national-news4,
.popular-sections4,
.trump-in-highly3 {
  position: absolute;
  top: 515.3px;
  left: 321.7px;
  display: inline-block;
  width: 179.7px;
  height: 26.4px;
}
.latest-news5,
.national-news4,
.trump-in-highly3 {
  top: 737.1px;
  left: 320.6px;
  width: 157px;
}
.latest-news5,
.trump-in-highly3 {
  top: 683.3px;
  left: 321.7px;
  width: 126px;
  height: 25.3px;
}
.trump-in-highly3 {
  top: 409px;
  left: 1190px;
  width: 250px;
  height: 104px;
}
.international-news4,
.life-style4,
.videos4 {
  position: absolute;
  top: 814px;
  left: 318px;
  display: inline-block;
  width: 157px;
  height: 26.4px;
}
.international-news4,
.life-style4 {
  top: 779px;
  left: 316px;
  width: 211.8px;
  height: 32.9px;
}
.life-style4 {
  top: 853px;
  left: 318px;
  width: 157px;
  height: 26.4px;
}
.athletics3,
.cricket3,
.football3,
.hockey3,
.sport3,
.tennis3 {
  position: absolute;
  top: 509px;
  left: 639px;
  display: inline-block;
  width: 67.1px;
  height: 26.4px;
}
.athletics3,
.cricket3,
.football3,
.hockey3,
.tennis3 {
  top: 561px;
  left: 631px;
  width: 102.3px;
}
.athletics3,
.football3,
.hockey3,
.tennis3 {
  top: 613px;
  left: 633px;
}
.athletics3,
.hockey3,
.tennis3 {
  top: 727px;
  left: 639px;
}
.athletics3,
.hockey3 {
  top: 677px;
  left: 633px;
}
.athletics3 {
  top: 779px;
  left: 635px;
  width: 94px;
}
.bengaluru3,
.cities3,
.coimbatore3,
.delhi3,
.hyderabad3,
.kochi3 {
  position: absolute;
  top: 513px;
  left: 932px;
  display: inline-block;
  width: 67.1px;
  height: 26.4px;
}
.bengaluru3,
.coimbatore3,
.delhi3,
.hyderabad3,
.kochi3 {
  top: 557px;
  width: 112.6px;
}
.coimbatore3,
.delhi3,
.hyderabad3,
.kochi3 {
  top: 613px;
  left: 935px;
  width: 126px;
}
.delhi3,
.hyderabad3,
.kochi3 {
  top: 725px;
  left: 940px;
  width: 115.7px;
  height: 25.3px;
}
.delhi3,
.kochi3 {
  top: 668px;
  width: 102.3px;
  height: 26.4px;
}
.kochi3 {
  top: 775px;
}
.footer-child46,
.footer-child47,
.footer-child48,
.footer-child49 {
  position: absolute;
  top: 1023.1px;
  left: 0.1px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 81px;
  height: 45.2px;
}
.footer-child47,
.footer-child48,
.footer-child49 {
  left: 125.4px;
}
.footer-child48,
.footer-child49 {
  left: 240.6px;
}
.footer-child49 {
  left: 351.8px;
}
.twitterx-icon5 {
  position: absolute;
  top: 1025.1px;
  left: 148.6px;
  width: 34.4px;
  height: 38px;
  object-fit: cover;
}
.footer-child50 {
  left: 465px;
}
.footer-child50,
.footer-child51,
.footer-child52 {
  position: absolute;
  top: 1023.1px;
  border-radius: var(--br-8xs);
  width: 81px;
  height: 45.2px;
}
.footer-child51 {
  left: 578.2px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.footer-child52 {
  left: 682.3px;
}
.sci-tech3,
.science3 {
  position: absolute;
  top: 511px;
  left: 1189px;
  display: inline-block;
  width: 94px;
  height: 26.7px;
}
.science3 {
  top: 561px;
  left: 1194px;
  width: 112.6px;
  height: 26.4px;
}
.environment3,
.health5,
.technology3,
.terms-of-use7 {
  position: absolute;
  top: 611px;
  left: 1193px;
  display: inline-block;
  width: 126.3px;
  height: 26.7px;
}
.environment3,
.health5,
.terms-of-use7 {
  top: 720px;
  width: 147.6px;
  height: 28.7px;
}
.health5,
.terms-of-use7 {
  top: 668px;
  left: 1194px;
  width: 112.6px;
  height: 26.4px;
}
.terms-of-use7 {
  top: 1120px;
  left: 0;
  width: 357.8px;
  height: 28.7px;
}
.linkedin-icon5,
.spotify-icon5 {
  position: absolute;
  top: 1025.1px;
  left: 373px;
  width: 40.4px;
  height: 41px;
  object-fit: cover;
}
.spotify-icon5 {
  top: 1023.1px;
  left: 599.4px;
  width: 39.4px;
  height: 40px;
}
.facebook-icon5,
.whatsapp-icon5,
.youtube-icon5 {
  position: absolute;
  top: 1024.1px;
  left: 477.1px;
  width: 59.6px;
  height: 39px;
  object-fit: cover;
}
.facebook-icon5,
.whatsapp-icon5 {
  left: 260.8px;
  width: 41.4px;
  height: 42.1px;
}
.whatsapp-icon5 {
  top: 1027.2px;
  left: 21.3px;
  width: 33.4px;
  height: 32.8px;
}
.div14,
.gadgets3 {
  position: absolute;
  display: inline-block;
}
.div14 {
  top: 1190.3px;
  left: 72.8px;
  font-size: var(--font-size-base);
  width: 16.2px;
  height: 16.4px;
}
.gadgets3 {
  top: 775px;
  left: 1196px;
  width: 84.9px;
  height: 26.7px;
}
.telegram-app-icon4,
.up-arrow-icon4 {
  position: absolute;
  top: 1173.9px;
  left: 1365.6px;
  width: 37.4px;
  height: 38px;
  object-fit: cover;
}
.telegram-app-icon4 {
  top: 1027.2px;
  left: 690.4px;
  width: 58.6px;
  height: 35.9px;
}
.copyright-thg-publishing4 {
  position: absolute;
  top: 1200px;
  left: 4px;
  font-size: var(--font-size-base);
  white-space: pre-wrap;
  display: inline-block;
  width: 514.5px;
  height: 23.6px;
}
.back-to-top4 {
  position: absolute;
  top: 1187.3px;
  left: 1238.2px;
  display: inline-block;
  width: 357.8px;
  height: 28.7px;
}
.footer-wrapper,
.footer3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1596px;
  height: 1223.6px;
}
.footer-wrapper {
  top: 1671px;
  left: 6px;
  font-size: var(--font-size-xl);
}
.desktop-4-budget-2024-meen {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2927px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-merriweather);
}
