.th13 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 24px;
  height: 12px;
}
.th-parent {
  width: 100%;
  position: relative;
  height: 12px;
  text-align: left;
  font-size: var(--font-size-5xs);
  color: var(--color-black);
  font-family: var(--font-merriweather);
}
