.the16 {
  position: absolute;
  top: 0;
  left: 926.3px;
  font-size: var(--font-size-77xl);
  display: inline-block;
  width: 607.7px;
  height: 167px;
}
.the-hindu-logonew-2-icon7 {
  position: absolute;
  top: 3.6px;
  left: 1534px;
  width: 824.5px;
  height: 192.4px;
  object-fit: cover;
}
.hindu16 {
  position: absolute;
  top: 0;
  right: 570.2px;
  font-size: var(--font-size-77xl);
  display: inline-block;
  width: 926.3px;
  height: 167px;
}
.group-child36,
.group-child37 {
  position: absolute;
  top: 239.6px;
  left: 61.6px;
  width: 551.5px;
  height: 1.9px;
  object-fit: contain;
}
.group-child37 {
  top: 238.8px;
  left: 875.4px;
  width: 516.7px;
  height: 0.8px;
}
.group-child38,
.group-child39,
.group-child40 {
  position: absolute;
  top: 239.6px;
  left: 1643.7px;
  width: 599.7px;
  height: 0.1px;
  object-fit: contain;
}
.group-child39,
.group-child40 {
  left: 2462.9px;
  width: 580.9px;
}
.group-child40 {
  top: 239.7px;
  left: 3263.4px;
  width: 348px;
  height: 2.1px;
}
.budget-20246,
.e-paper6,
.india15,
.movies12,
.world31 {
  position: absolute;
  top: 272.3px;
  left: 61.6px;
  display: inline-block;
  width: 572.9px;
  height: 52.6px;
}
.budget-20246,
.e-paper6,
.movies12,
.world31 {
  top: 265.1px;
  left: 867.4px;
}
.budget-20246,
.e-paper6,
.movies12 {
  left: 1659.8px;
}
.budget-20246,
.e-paper6 {
  left: 2462.9px;
}
.e-paper6 {
  top: 272.3px;
  left: 3263.4px;
  width: 374.8px;
}
.olympics6 {
  white-space: pre-wrap;
}
.search10 {
  color: var(--color-darkgray-100);
}
.olympics-data-container6 {
  position: absolute;
  top: 423px;
  left: 21.4px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
  display: inline-block;
  width: 2243.4px;
  height: 83.5px;
  color: var(--color-firebrick-100);
}
.search-icon6 {
  position: absolute;
  top: 423px;
  left: 1643.7px;
  width: 112.4px;
  height: 59.9px;
  object-fit: contain;
}
.free-trial7 {
  position: absolute;
  top: 410.3px;
  left: 2289px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: var(--font-inter);
  width: 439px;
  height: 41.8px;
  transform: rotate(0.1deg);
  transform-origin: 0 0;
}
.group-child41 {
  position: absolute;
  top: 392.1px;
  left: 2728px;
  border-radius: var(--br-8xs);
  background-color: var(--color-firebrick-100);
  width: 556.8px;
  height: 90.8px;
}
.group-child42 {
  position: absolute;
  top: 534.7px;
  left: 0;
  width: 3855px;
  height: 5.4px;
  object-fit: contain;
}
.subscribe8 {
  position: absolute;
  top: 410.3px;
  left: 2821.6px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-white);
  width: 388.2px;
  height: 45.4px;
}
.group-child43 {
  position: absolute;
  top: 392.1px;
  left: 3359.7px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-firebrick-100);
  box-sizing: border-box;
  width: 441.7px;
  height: 90.8px;
}
.login9 {
  position: absolute;
  top: 410.3px;
  left: 3461.5px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
  color: var(--color-firebrick-100);
  display: inline-block;
  width: 299.8px;
  height: 47.2px;
}
.group-child44 {
  position: absolute;
  top: 392.1px;
  left: 2136.3px;
  border-radius: 50%;
  background-color: var(--color-goldenrod);
  width: 128.5px;
  height: 90.8px;
}
.th10 {
  position: absolute;
  top: 412.1px;
  left: 2149.7px;
  font-size: var(--font-size-5xl);
  font-weight: 800;
  font-family: var(--font-inter);
  display: inline-block;
  width: 101.7px;
  height: 54.5px;
}
.group-child45 {
  position: absolute;
  top: 222.7px;
  left: 3664.9px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 120.5px;
  height: 69.6px;
}
.menu-icon8 {
  position: absolute;
  top: 229.6px;
  left: 3683.7px;
  width: 85.7px;
  height: 55.7px;
  object-fit: cover;
}
.group-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 3855px;
  height: 540.1px;
}
.group-3-header {
  width: 100%;
  position: relative;
  height: 540.1px;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-merriweather);
}
